disc:
  prefix:
  prod:
    token:
    guild:
    status_channel:
    api_updates_channel:
    lol_channel:
    travel_channel:
    us_politics_channel:
    news_channel:
    sms_channel:
    callback_host:
    booster_lounge_channel:
    jep_channel_category:
  dev:
    token:
    guild:
    travel_channel:
    status_channel:
    api_updates_channel:
    us_politics_channel:
    news_channel:
    lol_channel:
    sms_channel:
    callback_host:
    booster_lounge_channel:
    jep_channel_category:
    chat_bot_channel:

riot:
  key:
  region:

reddit:
  client_id:
  client_secret:

news:
  key:
  sources: [
  ]

rapidAPI:
  key:

mapquest:
  key:

# under jkasser mail account in azure
microsoft:
  translator:
    key:
    # replace with backup if an issue arises with the above key
    backup_key:
    endpoint:

google:
  api_key:
  key:
  project_id:
  bearer:

usps:
  un:
  pw:

twilio:
  account_sid:
  auth_token:
  number:

iot:
  channel:

giphy:
  key:
