disc:
  prefix:
  prod:
    token:
    guild:
    # riot.py channels
    status_channel:
    api_updates_channel:
    # reddit.py channels
    lol_channel:
    travel_channel:
    # covid.py channels
    us_politics_channel:
    #news.py channels
    news_channel:
  dev:
    token:
    guild:
    travel_channel:
    status_channel:
    api_updates_channel:
    us_politics_channel:
    news_channel:
    lol_channel: 

riot:
  key:
  region:

reddit:
  client_id:
  client_secret:

news:
  key:
  sources: [
  ]

rapidAPI:
  key:

mapquest:
  key:

trello:
  key:
  token:
  board_id:

microsoft:
  translator:
    key:
    endpoint: