[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
pyyaml = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
praw = "*"
newsapi-python = "*"
fuzzywuzzy = "*"
python-levenshtein-wheels = "*"
python-levenshtein = "*"
fabric = "*"
twilio = "*"

[requires]
python_version = "3.8"
